@model IEnumerable<BusinessLogicLayer.DTOs.AppointmentDto.AppointmentDTO>

<h2>Your Appointments</h2>

@if (!Model.Any())
{
    <p>No Appointments aviable for you at this time.</p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr class="table-primary">
                <th scope="col">Appointment ID</th>
                <th scope="col">Reason for Visit</th>
                <th scope="col">Is First Visit</th>
                <th scope="col">Patient</th>
                <th scope="col">Insurance Provider</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in Model)
            {
                <tr class="table-light">
                    <td>@appointment.Id</td>
                    <td>@appointment.Reason</td>
                    <td>@(appointment.IsFirstVisit ? "Yes" : "No")</td>
                    <td>@(appointment.Patient != null ? $"{appointment.Patient.FirstName} {appointment.Patient.LastName}" : "N/A")</td>
                    <td>@(appointment.Patient.InsuranceProvider != null ? appointment.Patient.InsuranceProvider : "N/A")</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Back to StartSite</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}