@model IEnumerable<BusinessLogicLayer.DTOs.PatientDto.PatientDTO>

<div class="container m-auto p-auto">
    <div class="row shadow-sm">
        <div class="text-start col-6">
            <h2 class="text-dark"> 
                MediCare Patients
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Patient" asp-action="Create" class="btn btn-secondary bg-body-tertiary shadow-sm">
                <i class="bi bi-plus-circle"></i> Add New Patient Infos
            </a>
        </div>
    </div>

    <div class="row pb-3 mt-5">
        @foreach(var obj in Model)
        {
            <div class="row col-lg-3 col-sm-6 ms-2">
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title" style="color:maroon">@obj.FirstName <span>@{ }</span>@obj.LastName</h4>
                        <h5 class="card-title">@obj.InsuranceProvider</h5>
                        <p class="card-text">@obj.Diagnoses</p>
                        <a asp-controller="Patient" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-outline-info rounded-5"><i class="bi bi-info-circle"></i></a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Patient" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-warning rounded-5"><i class="bi bi-pencil-square"></i></a>
                            @if (User.IsInRole(UserRole.ManagerRole))
                            {
                                <a asp-controller="Patient" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger rounded-5"><i class="bi bi-person-x"></i></a>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>